<div class="container">
	<h1>Editing User</h1>

	<%= render 'form' %>
	<div class="actions">
 		<button type="submit" class="btn verde" ><%= link_to 'Edit Patient', users_path %></button>
  	</div>
	<hr>
	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
</div>	
