<div class="container">
<h1>New Patient</h1>
<hr>
<%= render 'form' %>
<div class="actions">
  <button type="submit" class="btn verde" ><%= link_to 'Create Patient', users_path %></button>
  </div>
<hr>
<button type="button" class="btn verde" ><%= link_to 'Back', users_path %></button>
</div>
